.toolbar {
  padding: 0 16px;

  ion-searchbar {
    padding: 0 0 0 8px;
  }
}

.header {
  text-align: center;
  padding: 0 28px;
  
  .header-title {
    font-size: 46px;
    font-weight: 700;
    line-height: 0.9;
  }
  .header-subtitle {
    color: var(--ion-color-step-650);
  }
}

