<ion-toolbar color="primary" class="toolbar">
  <ion-buttons slot="start">
    <ion-menu-button 
    auto-hide="false" 
    mode="ios"
    menu="side-menu"
    ></ion-menu-button>
  </ion-buttons>
  <ion-searchbar placeholder="Find new locations" animated mode="ios"></ion-searchbar>
</ion-toolbar>

<ion-content>
  
  <ion-header class="header" mode="ios">
    
    <ion-text>
      <h1 class="header-title">Discover new places</h1>
      <h5 class="header-subtitle">Navigate trough a curated selection of amazing places for your next trip!</h5>
    </ion-text>

  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">

        <ion-card mode="ios">
          <ion-card-header>
            <ion-card-title>{{ loadedPlaces[0].title }}</ion-card-title>
            <ion-card-subtitle>{{ loadedPlaces[0].price | currency}} / Night</ion-card-subtitle>
          </ion-card-header>
          <ion-img [src]="loadedPlaces[0].imageUrl"></ion-img>
          <ion-card-content>
            <p>{{ loadedPlaces[0].description }}</p>
          </ion-card-content>
          <div class="ion-text-right">
            
            <ion-button 
            fill="clear" 
            color="primary" 
            routerDirection="forward"
            [routerLink]="['/', 'places', 'tabs', 'discover', loadedPlaces[0].id]">
              More
            </ion-button>

          </div>
        </ion-card>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-list>
          <ion-item 
          detail
          lines="none"
          *ngFor="let place of loadedPlaces.slice(1)"
          [routerLink]="['/', 'places', 'tabs', 'discover', place.id]">
            <ion-thumbnail slot="start">
              <ion-img [src]="place.imageUrl"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2>{{ place.title }}</h2>
              <p>{{ place.description }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  
  </ion-grid>
</ion-content>
